<%- include('../partials/head') %>

<body class="gradient-background">
  <div class="login-container">
    <h5 style="display: inline-flex; align-items: center; margin: 0">
      <img src="/img/EEELogo.png" alt="EEETrading Logo" height="60" style="padding: 1px; margin-right: 10px" />
      EEETrading LLC
    </h5>

    <h1>Reset Your Password</h1>

    <form action="/auth/reset-password" method="POST">
      <input type="hidden" name="token" value="<%= token %>" /> <!-- Include token in hidden input -->

      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          class="form-control"
          placeholder="Enter your new password"
          required />
      </div>

      <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">
        Reset Password
      </button>

      <% if (message) { %>
      <div id="alert" class="alert alert-info alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
    </form>
  </div>

  <script>
    const alertElement = document.getElementById("alert");
    if (alertElement) {
      setTimeout(() => {
        alertElement.style.display = "none";
      }, 3000);
    }
  </script>
</body>
